.selector-for-some-widget {
    box-sizing: content-box;
  }

 
/* glowing heading */
  h1{
    font-size: 100px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 30%;
      
  }

  h2{
    text-align: center;
    margin: 5%; 
  }
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #05968A, 0 0 40px #05968A, 0 0 50px #05968A, 0 0 60px #05968A, 0 0 70px #05968A;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #02B6A6, 0 0 40px #02B6A6, 0 0 50px #02B6A6, 0 0 60px #02B6A6, 0 0 70px #02B6A6, 0 0 80px #02B6A6;
    }
  } /* glowing heading END*/

/* header background (phones)*/
.header_pic {
    background-image:url('../images/Phone.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 500px;
    background-position: top center;
}
header {
    background-color: black;  
}/* header background (phones) END*/

/* custom Navigation*/
.navbar-toggler{
    width: 100%;
    position: relative;
    margin: 0 auto !important;
    background-color: rgb(21,27,67,0.5);
}


nav{
    background-color: rgb(21,27,67,0.5);   
} /* custom Navigation END*/

/* carousel container*/
.container-white{
    color: #1F1B43;
}

.container-white .carousel-indicators,
.container-white .carousel-control-prev-icon,
.container-white .carousel-control-next-icon {
    filter: invert(100%);
}

.container-blue {
    background-color: #1F1B43;
    color: #fff;
}

/* button collaps*/
.container-white .buttonCollapse{
    background-color: #02B6A6;
    }
.container-white .about_more{
        color: white;
    }
.container-white .about_less{
        color:orangered;
    }

/* button collaps*/
.container-blue .buttonCollapse2{
    background: #02B6A6;
    }

/* Contact Form / color */
    .bg-info {
        background-color: #f7c86b!important;
    }

    .text-white {
        color: #1F1B43!important;
    }

    .btn-info {
        color: #1F1B43;
        background-color: #f7c86b;
        border-color: #f7c86b;
    }
    .btn-info:hover {
        color: #1F1B43;
        background-color: #e49e12;
        border-color: #e49e12;
    }

    .border-primary {
        border-color: #fff!important;
    }

    .text-info {
        color: #e49e12!important;
    }

    .container-yellow {
        background-color: #e49e12;
        padding-top: 3%;
    }

/* footer*/
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}




@media (min-width: 400px) { 
    .header_pic{
        height: 167px;
    }
    .glow { 
        font-size: 40px;
        margin-top: 25%;
    }
 }

@media (min-width: 576px) { 
    .header_pic{
        height: 240px;
    }
    .glow {
        font-size: 50px;
        margin-top: 28%;
    }
 }

@media (min-width: 768px) { 
    .header_pic{
        height: 320px;
    }
    .glow {
        font-size: 70px;
        margin-top: 28%;
    }
 }

@media (min-width: 992px) { 
    .header_pic{
        height: 414px;
    }
    .glow {
        font-size: 80px;
        margin-top: 28  %;
    }
}

@media (min-width: 1200px) { 
    .header_pic{
        height: 500px;
    }
    .glow {
        font-size: 100px;
        margin-top: 32%;
    }
 }